# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Output
output/
*.html
*.pdf
*.docx

# Local config
config/media_root.yml

# Media big files (never commit)
*.mp3
*.mp4
*.mkv
*.mov
*.avi
*.wav
*.flac
*.jpg
*.jpeg
*.png
*.heic
*.tif
*.tiff
*.raw

# OS
.DS_Store
Thumbs.db

# ===== MEDIA (USB only) =====
MEDIA/
media/
*.mp3
*.mp4
*.mkv
*.wav
*.jpg
*.jpeg
*.png
*.iso
*.img
